@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.wrapper {
  max-width: 1350px;
  width: 96%;
  margin: 0 auto;
}

body{
  font-family: Helvetica, sans-serif;
}

/* font awesome style elements */

/* .down::before{
  
} */

/* .glob::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0ac";
} */

/* .right::before{
  
} */

.facebook::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f39e";
}

.twitter::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f099";
}

.google_plus::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0d5";
}

.youtube::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f167";
}

.pinterest::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f231";
}

.insta::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f16d";
}

.linked_in::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0e1";
}

/* Header section starts here */

header .wrapper{
  background-image: url("../images/background.jpeg");
  background-size: contain; 
  height: 670px;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.menu img{
  height: 35px;
  width: 85px;
}

.menu nav ul{
  display: flex;
  list-style: none;
}

.menu nav li{
  margin-right: 20px;
}

.menu nav ul li:nth-child(3)::after{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f078";
  color: #fff;
  margin-left: 5px;
  font-size: 13px;
  cursor: pointer;
}

nav ul li:nth-child(3) ul{
  flex-direction: column;
  position: absolute;
  width: 200px;
  display: none;
}

nav ul li:nth-child(3) ul li{
  margin-top: 5px;
}

nav ul li:nth-child(3):hover ul{
  transition: .5s;
  display: block;
}

/* .white_down{
  font-size: 13px; 
  margin-left: 5px; 
  color: #fff;
} */

.menu nav li a,.sign_up a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.menu nav li a:hover{
  color: #333;
  transition: .5s;
}

/* .white_earth{
  font-size: 20px;
  color: #fff;
} */
/* 
.white_earth:hover{
  color: #333;
  transition: .5s;
} */

.sign_up a{
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 25px;
  padding-left: 12px;
  margin-left: 20px;
}

.sign_up a:hover{
  background-color: #333;
  color: #ffcf3f;
  transition: .5s;
}

.sign_up a::before{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f0ac";
  position: relative;
  right: 40px;
  color: #fff;
  font-size: 20px;
}

header h2{
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 65px;
}

header h2 span{
  text-transform: lowercase;
}

.banner_btn{
  text-align: center;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #fff;
  padding: 15px 45px;
  border-radius: 40px;
  width: 130px;
  margin: 0 auto;
  color: #ffcf3f;
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
  margin-top: 50px;
}

.banner_btn:hover{
  background-color: #333;
  transition: .5s;
}

/* Header section ends here */
/* Create anything section starts here */

.create_any .wrapper{
  display: flex;
  justify-content: space-between;
}

.create_any h3{
  font-size: 75px;
  font-weight: 700;
  text-transform: capitalize;
  flex-basis: 50%;
  padding: 140px 66px;
}

.create_any span{
  text-transform: lowercase;
}

.create_any p{
  font-size: 21px;
  line-height: 1.7;
  font-weight: 100;
}

.create_any_right{
  flex-basis: 50%;
  padding: 155px 50px 165px 10px;
}

.get_started{
  font-size: 21px;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-top: 50px;
  display: inline-block;
}

.get_started:hover{
  color: #333;
  transition: .5s;
}

.get_started::after{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f054";
  font-size: 17px;
  margin-left: 5px;
}

/* .create_any_righticon{
  font-size: 17px;
  margin-left: 5px;
} */

/* Create anything section ends here */
/* Design freedom section starts here */

.design_freedom{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.design_freedom:nth-child(1){
  border-bottom: none;
}

.design_freedom:first-child img{
  width: 647px;
}

.design_freedom:nth-child(2){
  border-bottom: none;
}

.design_freedom:nth-child(2) figure:first-child img{
  border-right: 1px solid black;
}

.design_freedom:nth-child(2) figure:nth-child(2) img{
  border-left: 1px solid black;
  width: 646px;
}

.design_freedom:nth-child(2){
  justify-content: center;
}

.design_freedom:nth-child(2) img{
  height: auto;
  width: 645px;
}

.design_freedom:nth-child(3){
  border-top: none;
}

.design_freedom:nth-child(3) div{
  padding: 80px 100px;
}

.design_freedom:nth-child(3) div:nth-child(1){
  border-right: 1px solid black;
  flex-basis: 50%;
}

.design_freedom:nth-child(3) div:nth-child(2){
  border-left: 1px solid black;
  flex-basis: 50.2%;
}

.design_freedom div{
  padding: 110px 100px;
}

.design_freedom h4{
  font-size: 42px;
  text-transform: capitalize;
}

.design_freedom h4 span{
  font-weight: 700;
  display: block;
}

.design_freedom p{
  font-size: 17px;
  line-height: 1.5;
  margin-top: 35px;
}

.design_freedom p::first-letter{
  text-transform: uppercase;
}

/* Design freedom section ends here */
/* Powerful features section starts here */

.powerful_features h5{
  font-size: 75px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin-top: 200px;
}

.powerful_features h5 span:first-child{
  display: block;
}

.powerful_features h5 span:nth-child(2){
  text-transform: lowercase;
}

.p_f_wrap{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 90px;
}

.p_f_div:first-child figure:nth-child(2){
  margin-top: 70px;
}

.p_f_div:first-child figure:nth-child(2) figcaption{
  padding: 0 135px 0 210px;
}

.p_f_div:first-child figure:nth-child(3){
  margin-top: 180px;
}

.p_f_div:first-child figure:nth-child(3) figcaption{
  margin-top: 30px;
  padding-left: 170px;
}

.p_f_div:nth-child(2) figure:first-child{
  margin-top: 50px;
}

.p_f_div:nth-child(2) figure:first-child img{
  margin-bottom: 30px;
}

.p_f_div:nth-child(2) figure:nth-child(2){
  text-align: left;
  margin-top: 100px;
}

.p_f_div:nth-child(2) figure:nth-child(2) figcaption{
  padding: 0 310px 0  0;
  margin-top: 20px;
}

.p_f_div:nth-child(2) figure:nth-child(3){
  text-align: center;
  margin-top: 120px;
}

.p_f_div:nth-child(2) figure:nth-child(3) figcaption{
  padding: 0 280px 0  78px;
  margin-top: 20px;
}

.p_f_div figcaption{
  text-align: left;
  padding-left: 132px;
  padding-right: 190px;
  line-height: 1.5;
}

.p_f_div figcaption span{
  font-size: 25px;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
  margin-bottom: 5px;
}

/* Powerful features section ends here */
/* All features section starts here */

.all_features{
  padding-left: 105px;
}

.all_features h6 a{
  text-decoration: none;
  color: black;
  font-size: 44px;
  font-weight: 700;
  text-transform: capitalize;
  border-bottom: 2px solid black;
}

.all_features h6 a::after{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f054";
  font-size: 32px;
  margin-left: 10px;
}

.all_features h6:first-child{
  text-align: center;
  margin: 120px 0 150px 0;
}

/* .all_features h6 span{
  display: inline-block;
  margin: 0 -8px 0 5px;
  position: relative;
  bottom: 3px;
  font-size: 20px;
} */

.all_features_heading{
  font-size: 44px;
  font-weight: 700;
  text-transform: capitalize;
  width: 465px;
  line-height: 1.2;
}

.all_features .wrapper .all_features_heading span{
  text-transform: lowercase;
  font-size: 40px;
  font-weight: 700;
  /* position: static;
  margin: 0; */
}

.all_features_para{
  font-size: 21px;
  line-height: 1.7;
  font-weight: 100;
  width: 610px;
  margin-top: 25px;
}

/* .all_features_buttton{
  font-size: 21px;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-top: 50px;
  display: inline-block;
} */

.all_features .wrapper{
  position: relative;
}

.all_features figure{
  float: right;
  position: absolute;
  bottom: 580px;
  right: 0;
}

.all_f_margin{
  margin-top: 100px;
}
/* All features section ends here */
/* How section starts here */

.how_section{
  margin-top: 120px;
}

.how_section div{
  background-color: #526dd8;
  color: #fff;
}

.how_section .wrapper{
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}

.how_section h6{
  font-size: 105px;
  font-weight: 700;
  text-transform: capitalize;
}

.how_section h6 span{
  text-transform: lowercase;
}

.how_section_left a{
  color: #fff;
  font-weight: 700;
}

.how_section_btn{
  display: inline-block;
  margin-left: 30px;
}

.how_section_left{
  flex-basis: 40%;
}

.how_section_right{
  flex-basis: 40%;
}

.how_section_right h4{
  font-size: 24px;
  font-weight: 1000;
  line-height: 1.2;
  display: block;
}

.how_section_right ol li{
  font-size: 20px;
  line-height: 1.5;
  margin-top: 40px;
}

/* How section ends here */
/* Footer section starts here */

footer{
  margin-top: 100px;
  padding-bottom: 200px;
}

footer nav{
  display: flex;
  justify-content: center;
}

footer nav ul{
  list-style: none;
  flex-basis: 16%;
}

footer ul li:first-child{
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
}

footer ul li{
  text-transform: capitalize;
  margin-top:10px;
}

footer ul li a{
  text-decoration: none;
  color: rgb(78, 78, 78);
}

footer ul li a:hover{
  color: #333;
}

footer ul li span{
  text-transform: lowercase;
}

footer ul li img{
  height: 20px;
  width: 94px;
}

footer ul li p,.footer_coppywrite{
  color: rgb(78, 78, 78);
  font-size: 15px;
  line-height: 1.5;
  text-transform: none;
  margin-bottom: 20px;
}

.foo_icon{
  font-size: 20px;
  margin-right: 10px;
}

.foo_icon a{
  text-decoration: none;
  color: rgb(78, 78, 78);
}
/* Footer section ends here */
/* Responsive stylesheet starts here */

@media only screen and (max-width: 768px){
 /* Header section starts here */

.menu,.menu nav ul,.create_any .wrapper,.design_freedom,.p_f_wrap,.how_section .wrapper,footer nav{
  flex-direction: column;
}

.menu{
  padding: 20px 20px 0 20px;
}

header .wrapper{
  height: auto;
  padding-bottom: 20px;
  background-size: cover;
}

header h2{
  padding: 0 1px;
}

.menu nav ul{
  margin: 20px 0;
}

/* Header section ends here */
/* Create anything section starts here */

.create_any h3{
  padding: 100px 10px 0 10px;
}

.create_any_right{
  padding: 50px 10px;
}

/* Create anything section ends here */
/* Design freedom section starts here */

.design_freedom div{
  padding: 100px 20px;
}

.design_freedom_alpha .wrapper .design_freedom figure img{
  width: 100%;
}

.p_f_div:first-child figure:nth-child(3){
  margin-top: 100px;
}

.p_f_div:nth-child(2) figure:first-child img{
  margin-top: 60px;
}

.design_freedom:nth-child(3) div{
  padding: 100px 20px 20px 20px;
}

/* Design freedom secion ends here */
/* Powerful features section starts here */

.p_f_div figure img{
  width: 100%;
}

.p_f_div figcaption,.p_f_div:first-child figure:nth-child(2) figcaption,.p_f_div:first-child figure:nth-child(3) figcaption,.p_f_div:nth-child(2) figure:nth-child(2) figcaption,.p_f_div:nth-child(2) figure:nth-child(3) figcaption{
  padding: 0;
}

/* Powerful features section ends here */
/* All features section starts here */

.all_features{
  padding: 0;
}
.all_features h6 a{
  font-size: 40px;
}

.all_features figure{
  float: none;
  position: static;
}

.all_features figure img{
  width: 100%;
  margin-top: 30px;
}

.all_features_heading,.all_features_para{
  width: 100%;
}

/* All features section ends here */
/* How section starts here */

.how_section h6{
  font-size: 85px;
  padding: 0 5px;
}

.how_section_left a{
  margin-left: 10px;
}

.how_section_right{
  padding: 0 0 0 35px;
}

.how_section_right span{
  margin: 50px 20px 0 0;
}

/* How section ends here */
/* Footer section starts here */

footer nav ul{
  padding-left: 10px;
}

footer ul li:first-child{
  margin-top: 30px;
}

/* Footer section ends here */
}

/* Responsive stylesheet ends here */